$navy-color: #000a11;
$progress-bar-color: rgb(211, 206, 170);
$progress-value-color: rgb(66, 66, 66);

@mixin flex($justify) {
  display: flex;
  flex-wrap: wrap;
  justify-content: $justify;
  align-items: center;
}

@mixin mobileComponent() {
  .time {
    display: none;
  }
  .playerAndProgress {
    position: relative;
    progress[value] {
      width: 100%;
    }
  }
  .choose {
    position: static;
    background: rgba(0,0,0,0.5);
  }
  .cover {
    display: none;
  }
  footer {
    position: static;
    background: rgba(0,0,0,0.5);
  }
  .small {
    display: flex;
  }
}

@mixin btn-border-drawing($color: #ccc, $hover: black, $width: 2px, $vertical: top, $horizontal: left, $duration: 0.25s) {
  box-shadow: inset 0 0 0 $width $color;
  color: $color;
  transition: color $duration $duration/3;
  position: relative;
  &::before,
  &::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    #{$vertical}: 0;
    #{$horizontal}: 0;
  }

  &::before {
    $h-side: if($horizontal == 'left', 'right', 'left');
    border-#{$vertical}-width: $width;
    border-#{$h-side}-width: $width;
  }

  &::after {
    $v-side: if($vertical == 'top', 'bottom', 'top');
    border-#{$v-side}-width: $width;
    border-#{$horizontal}-width: $width;
  }

  &:hover {
    color: $hover;
    &::before,
    &::after {
      border-color: $hover;
      transition: border-color 0s, width $duration, height $duration;
      width: 100%;
      height: 100%;
    }
    &::before { transition-delay: 0s, 0s, $duration; }
    &::after { transition-delay: 0s, $duration, 0s; }
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  max-width: 100%;
  max-height: 100vh;
  height: 100vh;
  font-family: 'Lato', sans-serif;
  color: white;
  background: $navy-color;
  text-shadow: 0px 4px 4px rgba(0,0,0,.5);
}

.NavyPlayer {
  height: 100%;
  width: 100%;
  background: $navy-color;
  .desktop {
    display: none;
  }
  a {
    color: white;
    text-decoration: none;
  }
}

#search, #title, footer, .choose {
  width: 100%;
}

#search {
  height: 71vh;
  min-height: 71vh;
  div:first-child {
    width: 100vw;
    height: 6.5vh;
    margin-top: 0;
    input {
      height: 100%;
      width: 100vw;
      padding: 0.5em 1em;
      border: 0;
      font-size: 1.1em;
      outline: none;
      color: white;
      background: rgba(126, 130, 122, 0.5);
      box-shadow: 0px 4px 4px rgba(0,0,0,.5);
      &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        font-size: 1.2em;
        color: lightgray;
      }
      &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        font-size: 1.2em;
        color: lightgray;
      }
      &::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        font-size: 1.2em;
        color: lightgray;
      }
      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        font-size: 1.2em;
        color: lightgray;
      }
    }
  }
  .placeholder {
    height: 64.5vh;
    width: 100%;
    background: #111;
  }
}

#title {
  position: absolute;
  top: 20vh;
  text-align: center;
  h3 {
    font-size: 1.3em;
    color: white;
    font-family: 'Open Sans', sans-serif;
  }
}

.mainMiddle {
  @include flex(flex-start);
  align-items: flex-start;
  width: 100vw;
  max-width: 100vw;
  height: 71vh;
  overflow-y: auto;
  overflow-x: hidden;
  #playlists {
    width: 100%;
    div {
      max-height: 70vh;
      overflow-y: auto;
      div {
        margin: 1em 0 1em 1em;
        display: flex;
        align-items: center;
        img {
          width: 3em;
          height: auto;
        }
        p {
          max-width: 90%;
          display: inline-block;
          overflow-wrap: break-word;
          word-wrap: break-word;
          -ms-word-break: break-all;
          word-break: break-all;
          word-break: break-word;
          font-size: 1em;
          margin: 0 1em;
        }
      }
    }
  }
  #artist {
    width: 100%;
    padding: 0 3vw;
    .info {
      height: 10vh;
      margin-top: 1vh;
      img {
        float: left;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        margin-right: 1em;
        margin-top: 0.5em;
        box-shadow: 0px 4px 4px rgba(0,0,0,.5);
      }
      div {
        float: left;
        max-width: calc(100% - 64px);
        p {
          margin-top: calc(32px - 0.6em);
          font-size: 1.2em;
          font-family: 'Playfair Display', serif;
        }
      }
    }
    #topTracks {
      margin: 5vh auto 2vh auto;
      max-width: 90vw;
      .topTracks {
        margin: 8vh 0;
        width: 100%;
        font-size: 1.2em;
        font-family: 'Playfair Display', serif;
        ul {
          list-style: none;
          line-height: 6vh;
          li {
            border-bottom: 0.5px rgba(255,255,255,0.1) solid;
            margin: 1vh auto 1vh auto;
          }
          li:hover {
            color: #58afd1;
          }
        }
      }
    }
  }
  section#albums {
    margin: 2vh 4vw;
    overflow-x: auto;
    .list {
      max-width: 100%;
      width: 100%;
      font-size: 1.2em;
      font-family: 'Reem Kufi', sans-serif;
      ul {
        list-style: none;
        img {
          width: 5em;
          height: auto;
        }
        p {
          display: inline-block;
          vertical-align: top;
          margin: 0.5em;
          width: calc(100% - 6em);
        }
      }
    }
    .songs ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      li {
        border-bottom: 0.5px rgba(255,255,255,0.2) solid;
        cursor: pointer;
      }
    }
  }
  section#similar {
    margin: 2vh 4vw;
    width: 100%;
    font-family: 'Reem Kufi', sans-serif;
    h4 {
      font-size: 1.5em;
    }
    ul {
      list-style: none;
      li {
        @include flex(space-between);
        border-bottom: 0.5px rgba(255,255,255,0.2) solid;
        cursor: pointer;
      }
    }
    img {
      border-radius: 50%;
      width: 3em;
      height: 3em;
      margin: 2vh 0;
      box-shadow: 0px 4px 4px rgba(0,0,0,.5);
    }
    p {
      float: right;
      font-size: 1.2em;
    }
  }
}

.playerAndProgress {
  @include flex(space-around);
  width: 100%;
  height: 11vh;
  padding-top: 5.5vh;
  a {
    max-width: 65%;
  }
  .smallCover {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 0 1vw;
  }
  .smallTitle {
    font-size: 0.8em;
    width: 42vw;
    font-weight: bold;
    display: inline-block;
    overflow: hidden;
  }
  .playerMain {
    @include flex(space-between);
    button {
      &:nth-child(2) {
        transform: scale(0.5, 0.5);
      }
      background: transparent;
      border: none;
      outline: none;
    }
  }

  .progress {
    font-size: 0.9em;
    color: white;
    font-family: 'Reem Kufi', sans-serif;
    progress[value] {
      position: absolute;
      top: 0;
      left: 0;
      height: 3px;
      width: 100%;
      background: black;
      &::-webkit-progress-bar {
        background: $progress-bar-color;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
      }
      &::-webkit-progress-value {
        background-color: $progress-value-color;
        border-radius: 5px;
      }
    }
  }
}
.choose {
  height: 10vh;
  margin-top: 5vh;
  padding: 2vh 1vw;
  @include flex(space-around);
  z-index: 2;
  div {
    display: inline-block;
    button {
      cursor: pointer;
      width: 1.3em;
      height: 1.3em;
      font-size: 1.3em;
      background: transparent;
      color: white;
      border: 0;
      outline: none;
      p {
        font-size: 0.5em;
        font-family: 'Open Sans', sans-serif;
      }
    }
  }
}

footer {
  height: 3vh;
  @include flex(flex-start);
  align-items: flex-end;
  font-size: 0.7em;
  padding: 0 1vw;
  img {
    height: 0.7em;
    width: auto;
  }
}

.active button {
  color: #58afd1 !important;
}

.\/ {
  .time {
    position: absolute;
    top: -1.5vh;
    right: 0;
    display: block;
    .elapsed {
      right: 88vw;
      position: absolute;
    }
    .pipe {
      display: none;
    }
    .duration {
      right: 2vw;
      position: absolute;
    }
  }
  .playerAndProgress {
    position: absolute;
    top: 50%;
    progress[value] {
      width: 70%;
      left: 15%;
    }
  }
  .choose {
    position: absolute;
    bottom: 5vh;
    background: transparent;
  }
  .cover {
    display: block;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  footer {
    background: transparent;
    position: absolute;
    bottom: 0;
  }
  .small {
    display: none;
  }
}

.\/artist, .\/playlist, .\/search {
  @include mobileComponent();
}

@media (min-width: 960px), (min-width: 700px) and (orientation: landscape) {
  body {
    ::-webkit-scrollbar {
      width: 7px;
      height: 7px;
    }
    /* Track */
    ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background: rgba(211, 206, 170, 0.5);
      -webkit-border-radius: 10px;
      border-radius: 10px;
    }
    /* Corner */
    ::-webkit-scrollbar-corner {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background: rgba(211, 206, 170, 0.5);
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: rgba(66, 66, 66, 0.7);
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    }
  }
  .NavyPlayer .desktop {
    background: -webkit-radial-gradient(rgb(20, 55, 90), rgb(0, 10, 17));
    background: -o-radial-gradient(rgb(20, 55, 90), rgb(0, 10, 17));
    background: -moz-radial-gradient(rgb(20, 55, 90), rgb(0, 10, 17));
    background: radial-gradient(rgb(20, 55, 90), rgb(0, 10, 17));
    display: block;
    @include flex(center);
  }

  #search {
    height: 15vh;
    min-height: 15vh;
    display: block;
    max-width: 30vw;
    div:first-child {
      width: 25vw;
      height: auto;
      margin-top: 1em;
      input {
        width: 30vw;
        font-size: 0.8em;
        border-radius: 1em;
      }
    }
    .placeholder {
      display: none;
    }
  }

  #title {
    height: 7vh;
    position: static;
    padding: 0 0 3vh 0;
    h3 {
      font-size: 1.5em;
    }
  }

  .mainMiddle {
    padding: 3vh 0 0 0;
    height: 63vh;
    overflow-y: auto;
    #playlists {
      width: calc((100% - 400px) / 2);
      display: block;
      height: auto;
      padding: 0 0 0 2%;
      div {
        max-height: 380px;
        div {
          cursor: pointer;
          margin: 0 0 2vh 0;
          img {
            width: 4em;
          }
          p {
            font-size: 1em;
          }
        }
      }
    }
    .cover {
      height: 400px;
      width: 400px;
      margin: 0;
      display: block;
      background-size: cover;
      background-position: center;
    }
    #artist {
      width: calc((100% - 400px) / 2);
      height: auto;
      display: flex;
      flex-wrap: wrap;
      .info {
        height: auto;
        p {
          font-size: 1.5em;
        }
      }
      #topTracks {
        margin: auto;
        max-width: 100%;
        width: 100%;
        .topTracks {
          margin: 3vh 0;
          font-size: 1.2em;
          cursor: pointer;
          h4 {
            font-size: 1.2em;
          }
        }
      }
    }
    section#albums {
      margin-top: 8vh;
      font-size: 1.2em;
      cursor: pointer;
      ul {
        display: flex;
        flex-direction: row;
        li {
          margin: 1vh 2vw;
          p {
            display: block;
            margin: 0;
            min-width: 100%;
            font-size: 0.7em;
          }
        }
      }
    }
    section#similar {
      margin: 12vh 10vh 0 10vh;
      padding: 5vh auto;
      width: 100vw;
      ul {
        list-style: none;
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
        -moz-column-gap: 15vw;
        -webkit-column-gap: 15vw;
        column-gap: 15vw;
        img {
          width: 3em;
          height: 3em;
        }
      }
    }
  }

  .playerAndProgress {
    position: relative;
    height: 10vh;
    width: 100%;
    .playerMain {
      margin-top: 0.5vh;
      button {
        cursor: pointer;
        margin: 0 1vw 0 0;
      }
    }

    .progress {
      font-size: 1.1em;
      cursor: pointer;
      progress[value] {
        height: 5px;
      }
      .time {
        position: absolute;
        cursor: default;
        top: 4vh;
        right: 5vw;
        display: block;
      }
    }
    .small {
      display: none;
    }
  }

  footer {
    position: static;
    height: 5vh;
    padding: 0 0.5em;
    cursor: default;
    font-size: 1em;
    background: transparent;
    img {
      height: 1em;
    }
  }

  .login {
    @include btn-border-drawing(#58afd1, #ffe593, 4px, bottom, right);
    text-align: center;
    position: absolute;
    right: 1.5vw;
    top: 3vh;
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font: 700 0.8em 'Roboto Slab', sans-serif;
    padding: 1em 2em;
    letter-spacing: 0.05rem;
    &:focus {
      outline: 2px dotted #55d7dc;
    }
  }
  .mobile {
    display: none;
  }
}
