$navy-color: #000a11;
$white-color: #fbf7e4;
$progress-bar-color: rgb(211, 206, 170);
$progress-value-color: rgb(66, 66, 66);

@mixin flex($justify) {
  display: flex;
  flex-wrap: wrap;
  justify-content: $justify;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  max-width: 100%;
  max-height: 100vh;
  height: 100vh;
  font-family: 'Lato', sans-serif;
  color: $white-color;
  background: $navy-color;
}

.NavyPlayer {
  @include flex(center);
  align-items: flex-end;
  height: 100%;
  width: 100%;
  background: $navy-color;
}

.search, .title, .footer, .choose {
  width: 100%;
}

.search {
  display: none;
  height: 70vh;
  div:first-child {
    width: 100vw;
    height: 7vh;
    margin-top: 0;
    input {
      height: 100%;
      width: 100vw;
      padding: 0.5em 1em;
      border: 0;
      font-size: 1.1em;
      outline: none;
      color: $white-color;
      background: #7e827a;
      &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        font-size: 1.2em;
        color: lightgray;
      }
      &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        font-size: 1.2em;
        color: lightgray;
      }
      &::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        font-size: 1.2em;
        color: lightgray;
      }
      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        font-size: 1.2em;
        color: lightgray;
      }
    }
  }
}

.title {
  position: absolute;
  top: 20vh;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0,0,0,.5);
  h3 {
    font-size: 1.3em;
    color: $white-color;
    font-family: 'Open Sans', sans-serif;
  }
}

.mainMiddle {
  @include flex(flex-start);
  width: 100vw;
  .playlists {
    height: 70vh;
    width: 100%;
    display: none;
    div {
      max-height: 70vh;
      overflow-y: auto;
      div {
        margin: 1em 0 1em 1em;
        display: flex;
        align-items: center;
        img {
          width: 3em;
          height: auto;
        }
        p {
          max-width: 90%;
          display: inline-block;
          overflow-wrap: break-word;
          word-wrap: break-word;
          -ms-word-break: break-all;
          word-break: break-all;
          word-break: break-word;
          font-size: 0.8em;
          margin: 0 1em;
        }
      }
    }
  }
  .cover {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .artistInfo {
    width: 100%;
    padding: 0 3vw;
    height: 70vh;
    display: none;
    .info {
      height: 10vh;
      margin-top: 1vh;
      img {
        float: left;
        width: 64px;
        height: 64px;
        margin-right: 1em;
        margin-top: 0.5em;
      }
      div {
        float: left;
        max-width: calc(100% - 100px);
        & > p {
          margin-bottom: 0.1em;
          font-size: 1.2em;
          font-family: 'Playfair Display', serif;
        }
        a {
          color: $white-color;
          text-decoration: none;
          font-size: 0.85em;
          font-family: 'Playfair Display', serif;
          i {
            float: left;
            margin-right: 0.5em;
            margin-top: 1vh;
          }
          span {
            overflow-wrap: break-word;
            word-wrap: break-word;
            -ms-word-break: break-all;
            word-break: break-all;
            word-break: break-word;
          }
        }
      }
    }
    .concerts {
      margin: 7vh 2vw 0 2vw;
      width: 100%;
      clear: both;
      font-size: 1.2em;
      font-family: 'Reem Kufi', sans-serif;
      ul {
        max-height: 43vh;
        list-style: none;
        overflow-y: auto;
        a {
          color: $white-color;
          text-decoration: none;
        }
      }
    }
  }
}

.playerAndProgress {
  position: absolute;
  top: 50%;
  @include flex(center);
  width: 100%;
  height: 10vh;
  .small {
    display: none;
    .smallCover {
      width: 50px;
      height: 50px;
      display: inline-block;
      margin: 4vh 1vw 0 1vw;
    }
    .smallTitle {
      font-size: 0.8em;
      margin-top: 4vh;
      width: 52vw;
      font-weight: bold;
      display: inline-block;
      overflow: hidden;
    }
  }
  .playerMain {
    margin-top: calc((12vh - 3em * 0.6) / 2);
    @include flex(space-between);
    button {
      background: transparent;
      border: none;
      outline: none;
      transform: scale(0.8, 0.8);
    }
  }

  .progress {
    font-size: 0.9em;
    color: $white-color;
    font-family: 'Reem Kufi', sans-serif;
    progress[value] {
      position: absolute;
      top: 0;
      left: 0;
      height: 3px;
      width: 100%;
      background: black;
      &::-webkit-progress-bar {
        background: $progress-bar-color;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
      }
      &::-webkit-progress-value {
        background-color: $progress-value-color;
        border-radius: 5px;
      }
    }
    .time {
      position: absolute;
      right: 5vw;
      top: 6.5vh;
    }
  }
}

.choose {
  position: absolute;
  bottom: 5vh;
  height: 10vh;
  background: transparent;
  margin-top: 5vh;
  padding: 2vh 1vw;
  @include flex(space-around);
  z-index: 2;
  div {
    display: inline-block;
    button {
      cursor: pointer;
      width: 1.6em;
      height: 1.6em;
      font-size: 1.6em;
      background: transparent;
      color: white;
      border: 0;
      outline: none;
      p {
        font-size: 0.5em;
        font-family: 'Open Sans', sans-serif;
      }
    }
  }
}

.footer {
  position: absolute;
  bottom: 0;
  height: 5vh;
  @include flex(flex-start);
  background: transparent;
  font-size: 0.7em;
  padding: 2vh 1vw;
  img {
    height: 0.7em;
    width: auto;
  }
}

@media (min-width: 960px), (min-device-width: 700px) and (orientation: landscape) {
  body {
    ::-webkit-scrollbar {
      width: 7px;
      height: 7px;
    }
    /* Track */
    ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background: rgba(211, 206, 170, 0.5);
      -webkit-border-radius: 10px;
      border-radius: 10px;
    }
    /* Corner */
    ::-webkit-scrollbar-corner {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background: rgba(211, 206, 170, 0.5);
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: rgba(66, 66, 66, 0.7);
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    }
  }

  .search {
    height: auto;
    display: block;
    max-width: 30vw;
    div:first-child {
      width: 25vw;
      height: auto;
      margin-top: 1em;
      input {
        width: 30vw;
        font-size: 0.8em;
        border-radius: 1em;
      }
    }
    .placeholder {
      display: none;
    }
  }

  .title {
    position: static;
    margin: 8vh 0 2vh 1em;
    h3 {
      font-size: 1.5em;
    }
  }

  .mainMiddle {
    margin: 3vh 0 0 0;
    .playlists {
      width: calc((100% - 400px) / 2);
      display: block;
      height: auto;
      padding: 0 0 0 2%;
      div {
        max-height: 380px;
        div {
          cursor: pointer;
          margin: 0 0 2vh 0;
          img {
            width: 5em;
          }
          p {
            font-size: 1.1em;
          }
        }
      }
    }
    .cover {
      height: 400px;
      width: 400px;
      margin: 0;
    }
    .artistInfo {
      width: calc((100% - 400px) / 2);
      height: auto;
      display: flex;
      flex-wrap: wrap;
      .info {
        height: auto;
        div > p {
          font-size: 1.5em;
        }
        a {
          font-size: 1em;
          i {
            margin-right: 10px;
          }
        }
      }
      .concerts {
        margin: 0;
        font-size: 1.2em;
        ul {
          max-height: 200px;
        }
      }
    }
  }

  .playerAndProgress {
    position: relative;
    height: auto;
    width: 100%;
    .playerMain {
      margin-top: 1vh;
      button {
        cursor: pointer;
        margin: 2vh 1vw 0 0;
        transform: scale(1, 1);
      }
    }

    .progress {
      font-size: 1.1em;
      cursor: pointer;
      progress[value] {
        height: 5px;
      }
      .time {
        cursor: default;
        top: 4vh;
      }
    }
  }

  .choose {
    display: none;
  }

  .footer {
    position: static;
    height: auto;
    padding: 0 0.5em;
    cursor: default;
    font-size: 1em;
    background: $navy-color;
    img {
      height: 1em;
    }
  }
}
