@import "sass/modules/_mixins.scss";

.home {
  @media (max-width: 869px) {

    .albums,
    .artist,
    .search,
    .playlists,
    .similar,
    .nav,
    .smallTitle {
      display: none;
    }

    .player {
      progress[value] {
        width: 50vw;
      }

      .smallCover {
        width: 50vw;
        height: 50vw;
        position: absolute;
        bottom: 50vh;
        left: 25%;
        background-size: cover;
      }

      .controls button {
        display: block;
        margin: 0 0.8em;

        &:first-child {
          .volume {
            left: -1.2em;
            top: -140%;
            width: 5.5em;
            height: 4px;
          }
        }
      }
    }

    footer {
      p {
        visibility: hidden;
      }

      img {
        visibility: visible;
      }
    }
  }

  .artist {
    img {
      display: block;
    }

    p {
      margin-left: 1em;
      font-size: 1.2em;
      position: static;
      z-index: 0;
      text-transform: capitalize;
    }
  }

  .choose {
    position: absolute;
  }

  @media (min-width: 870px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @import "sass/partials/desktop/_main.scss";

    .small {
      display: none;
    }

    .player {
      justify-content: flex-start;
      .controls {
        margin: 0 4em;
      }
    }
  }
}