#artist {
    width: calc((100% - 60vh) / 2);
    display: flex;
    flex-wrap: wrap;
    .info {
        height: auto;
        p {
            font-size: 1.3em;
        }
    }
    #topTracks {
        margin: auto;
        width: 100%;
        .topTracks {
            margin-top: 4vh;
            font-size: 1.15em;
            cursor: pointer;
            h2 {
                font-size: 1.15em;
            }
            ul {
                line-height: 6vh;
            }
        }
    }
}