@import '~antd/dist/antd.dark.less'; // Introduce the official dark less style entry file

.ArtistPage {
  .name {
    margin: -24px -74px -70px !important;
    padding: 120px 66px 180px;
    background-size: cover;
    background-position: center;
    h1 {
      margin: 0;
      font-size: 5.5em;
    }
    span {
      font-size: 1.1em;
    }
  }
  .site-custom-tab-bar {
    z-index: 1;
  }

  a.ant-typography, .ant-typography a, a {
    color: @text-color;
  }
}