@import 'sass/modules/_mixins.scss';
@import 'sass/modules/_variables.scss';

.artist__playlists {
  margin: 2em 0;
  width: 100%;
  padding-left: 2vw;
  ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2vh;
    line-height: 5vh;
    img {
      border-radius: 10px;
      width: 9em;
      height: 9em;
    }
  }

  .artist__playlist {
    display: flex;
    padding: 10px;
  }

  &__cover {
    border-radius: 5px;
    width: 3em;
    height: 3em;

    & + div {
      flex-direction: column;
      margin-left: 1em;
    }
  }

  &__title {
    font-weight: 500;
    line-height: 1.5;
  }

  @media (min-width: 768px) {
    width: 50%;
    padding-top: 4vh;
    ul {
      line-height: 6vh;
      min-height: 35vh;
      cursor: pointer;
    }
  }
}
