.title {
  width: 100%;
  position: absolute;
  top: 50vh;
  text-align: center;
  z-index: 1;
  padding: 0 2vw;
  h1 {
      font-size: 1.1em;
      line-height: 1.8em;
      font-weight: 300;
      span {
          display: block;
          font-weight: 400;
          font-size: 1.2em;
      }
  }
  @media (min-width: 870px) {
    position: static;
    display: block;
    padding-bottom: 1vh;
    h1 {
        font-size: 1.3em;
        line-height: 1.5em;
        span {
            font-size: 1.5em;
        }
    }
  }
}

