.playlists {
    max-width: 100%;
    .slick-slider {
        .slick-slide {
            margin: 1em 0;
            p {
                display: inline-block;
                overflow-wrap: break-word;
                word-wrap: break-word;
                word-break: break-word;
                font-size: .8em;
                font-weight: 400;
                margin: 1em 0;
            }
        }
    }
}