.mainMiddle {
    display: flex;
    height: 63vh;
    padding: 3vh 0 0;
    position: relative;
    @import "mainMiddle/_playlists.scss";
    @import "mainMiddle/_cover.scss";
    @import "mainMiddle/_artist.scss";
    @import "mainMiddle/_albums.scss";
    @import "mainMiddle/_similar.scss";
}