body {
    ::-webkit-scrollbar {
        width: 7px;
        height: 7px;
    }
    /* Track */
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background: rgba(211, 206, 170, 0.5);
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }
    /* Corner */
    ::-webkit-scrollbar-corner {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background: rgba(211, 206, 170, 0.5);
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: rgba(66, 66, 66, 0.7);
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    }
}
