#search {
    display: block;
    height: 15vh;
    max-width: 30vw;
    div:first-child {
        width: 25vw;
        height: 2.5vh;
        margin-top: 1em;
        input {
            width: 30vw;
            font-size: .8em;
            border-radius: 1em;
        }
        div {
            z-index: 3;
        }
    }
    .placeholder {
        display: none;
    }
}