.choose {
    height: 10vh;
    margin-top: 5vh;
    padding: 2vh 1vw;
    @include flex(space-around);
    z-index: 2;
    div {
        display: inline-block;
        button {
            cursor: pointer;
            width: 1.1em;
            height: 1.1em;
            font-size: 1.1em;
            background: transparent;
            color: white;
            border: 0;
            outline: none;
            p {
                font-size: .5em;
                font-family: 'Open Sans', sans-serif;
            }
        }
    }
}
