.playerAndProgress {
    @include flex(space-around);
    width: 100%;
    height: 11vh;
    padding-top: 5vh;
    a {
        max-width: 65%;
    }
    .smallCover {
        width: 3em;
        height: 3em;
        display: inline-block;
        margin: 0 1vw;
    }
    .smallTitle {
        width: 42vw;
        font-size: .8em;
        display: inline-block;
        overflow: hidden;
        p:first-child {
            font-weight: bold;
        }
    }
    .playerMain {
        @include flex(space-between);
        button {
            &:nth-child(2) {
                transform: scale(0.5, 0.5);
            }
            background: transparent;
            border: none;
            outline: none;
        }
    }
    .progress {
        font-size: .9em;
        color: white;
        font-family: 'Reem Kufi', sans-serif;
        progress[value] {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 3px;
            background: black;
            &::-webkit-progress-bar {
                background: $progress-bar-color;
                border-radius: 5px;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
            }
            &::-webkit-progress-value {
                background-color: $progress-value-color;
                border-radius: 5px;
            }
        }
    }
}
