#search {
    height: 71vh;
    div:first-child {
        width: 100vw;
        height: 6vh;
        margin-top: 0;
        input {
            height: 100%;
            width: 100vw;
            padding: .9em;
            border: 0;
            font-size: .9em;
            outline: none;
            color: white;
            background: rgba(70, 70, 70, 0.5);
            box-shadow: 0 4px 4px rgba(0,0,0,.5);
            &::-webkit-input-placeholder {
                /* WebKit, Blink, Edge */
                font-size: 1.2em;
                color: lightgray;
            }
            &:-moz-placeholder {
                /* Mozilla Firefox 4 to 18 */
                font-size: 1.2em;
                color: lightgray;
            }
            &::-moz-placeholder {
                /* Mozilla Firefox 4 to 18 */
                font-size: 1.2em;
                color: lightgray;
            }
            &:-ms-input-placeholder {
                /* Internet Explorer 10-11 */
                font-size: 1.2em;
                color: lightgray;
            }
        }
    }
    .placeholder {
        height: 64.5vh;
        width: 100%;
        background: #111;
    }
}
