#title {
    position: absolute;
    top: 20vh;
    height: 7vh;
    text-align: center;
    padding: 0 0 3vh;
    z-index: 1;
    h1 {
        font-size: 1.3em;
        color: white;
        font-family: 'Open Sans', sans-serif;
    }
}
