@media (min-width: 870px) {
     @import"desktop/_scroll.scss";
    .NavyPlayer {
        background: -webkit-radial-gradient(rgb(20, 55, 90), rgb(0, 10, 17));
        background: -o-radial-gradient(rgb(20, 55, 90), rgb(0, 10, 17));
        background: -moz-radial-gradient(rgb(20, 55, 90), rgb(0, 10, 17));
        background: radial-gradient(rgb(20, 55, 90), rgb(0, 10, 17));
        section#login {
            display: block;
        }
    }
    .\/,
    .\/playlists {
        @include border-bottom-animation(#main_nav);
    }
    .\/albums {
        @include border-bottom-animation(#albums_nav);
    }
    .\/similar {
        @include border-bottom-animation(#similar_nav);
    }
    .\/,
    .\/albums,
    .\/artist,
    .\/playlist,
    .\/playlists,
    .\/search,
    .\/similar,
    div[class^='/ &'],
    div[class^='/_'] {
        @include flex(center);
        @import "desktop/_nav.scss";
        @import "desktop/_search.scss";
        @import "desktop/_title.scss";
        @import "desktop/_mainMiddle.scss";
        @import "desktop/_playerAndProgress.scss";
        @import "desktop/_footer.scss";
        @import "desktop/_login.scss";
    }
}
