@import "mobile/_search.scss";
@import "mobile/_title.scss";
@import "mobile/_mainMiddle.scss";
@import "mobile/_playerAndProgress.scss";
@import "mobile/_choose.scss";
@import "mobile/_footer.scss";
.active button:focus {
    color: #58afd1;
}
.\/,
.\/albums,
.\/playlists,
.\/similar,
div[class^='/ &'],
div[class^='/_'] {
    #albums,
    #artist,
    #playlists,
    #search,
    #similar,
    .nav,
    .small {
        display: none;
    }
    .time {
        position: absolute;
        top: -1.5vh;
        right: 0;
        display: block;
        .elapsed {
            position: absolute;
            right: 88vw;
        }
        .pipe {
            display: none;
        }
        .duration {
            right: 2vw;
            position: absolute;
        }
    }
    .playerAndProgress {
        position: absolute;
        top: 50%;
        progress[value] {
            width: 70%;
            left: 15%;
        }
    }
    .choose {
        position: absolute;
        bottom: 5vh;
        background: transparent;
    }
    .cover {
        display: block;
        height: 100vh;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
    }
    footer {
        position: absolute;
        bottom: 0;
        background: transparent;
    }
}
.\/artist,
.\/playlist,
.\/search {
    @include mobileComponent();
}
.\/artist {
    #playlists,
    #search {
        display: none;
    }
}
.\/playlist {
    #albums,
    #artist,
    #search,
    #similar {
        display: none;
    }
}
.\/search .mainMiddle {
    display: none;
}
