@import "sass/modules/_mixins.scss";

.artistRoute {
  footer {
      display: none;
  }
  @media (min-width: 870px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @import "sass/partials/desktop/_main.scss";
    footer {
      display: block;
    }
  }
}

