.Header {
  padding-left: 0;
  padding-right: 0;
  border-bottom: 1px solid #33363b;
  .menu {
    padding: 0 50px;
    margin-top: -3px;
    border: none;
  }
  .align-center {
    display: flex;
    align-items: center;
  }
}