section#albums {
    display: block;
    margin-top: 8vh;
    h2 {
        font-size: 1.4em;
    }
    .list {
        width: 100%;
        overflow-x: hidden;
        float: left;
        img {
            width: 7em;
            cursor: pointer;
        }
        p {
            font-size: .9em;
            width: 7em;
            font-weight: lighter;
            cursor: pointer;
        }
        .backArrow,
        .nextArrow {
            cursor: pointer;
            margin-top: .6em;
            display: block;
        }
    }
    .close {
        position: fixed;
        top: 10%;
        right: -25em;
        cursor: pointer;
        background: #4f39e4;
        width: 2em;
        height: 2em;
        border-radius: 2px;
        text-align: center;
        padding-top: .3em;
    }
    .songs {
        background: #111;
        position: fixed;
        padding: 0;
        min-height: 100%;
        max-height: 100%;
        top: 0;
        z-index: 5;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        .playAlbum {
            border: 1px solid #EE3769;
            color: #EE3769;
            height: 2.8em;
            width: 10em;
            cursor: pointer;
            border-radius: 8px;
            text-align: center;
            line-height: 250%;
            margin: 1em;
            align-self: center;
        }
        li {
            cursor: pointer;
            padding: 2vh 2vw;
            &:hover {
                background-color: rgba(79, 57, 228, 0.14);
            }
        }
    }
    .slideout {
        -webkit-animation: SLIDEOUT 1.5s 0s 1 forwards;
        -moz-animation: SLIDEOUT 1.5s 0s 1 forwards;
        -o-animation: SLIDEOUT 1.5s 0s 1 forwards;
        animation: SLIDEOUT 1.5s 0s 1 forwards;
        @-webkit-keyframes SLIDEOUT {
            0% {
                right: -27em;
            }
            100% {
                right: 0;
            }
        }
        @-moz-keyframes SLIDEOUT {
            0% {
                right: -27em;
            }
            100% {
                right: 0;
            }
        }
        @-o-keyframes SLIDEOUT {
            0% {
                right: -27em;
            }
            100% {
                right: 0;
            }
        }
        @keyframes SLIDEOUT {
            0% {
                right: -27em;
            }
            100% {
                right: 0;
            }
        }
    }
    .slidein {
        -webkit-animation: SLIDEIN 1.5s 0s 1 forwards;
        -moz-animation: SLIDEIN 1.5s 0s 1 forwards;
        -o-animation: SLIDEIN 1.5s 0s 1 forwards;
        animation: SLIDEIN 1.5s 0s 1 forwards;
        @-webkit-keyframes SLIDEIN {
            0% {
                right: 0;
            }
            100% {
                right: -27em;
            }
        }
        @-moz-keyframes SLIDEIN {
            0% {
                right: 0;
            }
            100% {
                right: -27em;
            }
        }
        @-o-keyframes SLIDEIN {
            0% {
                right: 0;
            }
            100% {
                right: -27em;
            }
        }
        @keyframes SLIDEIN {
            0% {
                right: 0;
            }
            100% {
                right: -27em;
            }
        }
    }
    .buttonSlideout {
        -webkit-animation: BUTTONSLIDEOUT 1.5s 0s 1 forwards;
        -moz-animation: BUTTONSLIDEOUT 1.5s 0s 1 forwards;
        -o-animation: BUTTONSLIDEOUT 1.5s 0s 1 forwards;
        animation: BUTTONSLIDEOUT 1.5s 0s 1 forwards;
        @-webkit-keyframes BUTTONSLIDEOUT {
            0% {
                right: -25em;
            }
            100% {
                right: 25em;
            }
        }
        @-moz-keyframes BUTTONSLIDEOUT {
            0% {
                right: -25em;
            }
            100% {
                right: 25em;
            }
        }
        @-o-keyframes BUTTONSLIDEOUT {
            0% {
                right: -25em;
            }
            100% {
                right: 25em;
            }
        }
        @keyframes BUTTONSLIDEOUT {
            0% {
                right: -25em;
            }
            100% {
                right: 25em;
            }
        }
    }
    .buttonSlidein {
        -webkit-animation: BUTTONSLIDEIN 1.5s 0s 1 forwards;
        -moz-animation: BUTTONSLIDEIN 1.5s 0s 1 forwards;
        -o-animation: BUTTONSLIDEIN 1.5s 0s 1 forwards;
        animation: BUTTONSLIDEIN 1.5s 0s 1 forwards;
        @-webkit-keyframes BUTTONSLIDEIN {
            0% {
                right: 25em;
            }
            100% {
                right: -25em;
            }
        }
        @-moz-keyframes BUTTONSLIDEIN {
            0% {
                right: 25em;
            }
            100% {
                right: -25em;
            }
        }
        @-o-keyframes BUTTONSLIDEIN {
            0% {
                right: 25em;
            }
            100% {
                right: -25em;
            }
        }
        @keyframes BUTTONSLIDEIN {
            0% {
                right: 25em;
            }
            100% {
                right: -25em;
            }
        }
    }
}
