#playlists {
    display: block;
    width: calc((100% - 60vh) / 2);
    div {
        direction: rtl;
        padding-left: .5em;
        div {
            direction: ltr;
            opacity: .3;
            transition: opacity .5s;
            cursor: pointer;
            margin: 0 0 2vh;
            img {
                width: 4em;
            }
            p {
                display: none;
            }
        }
        div:hover {
            color: #ddd;
            position: relative;
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0,0,0,.1);
            }
        }
        .active,
        .fade {
            opacity: 1;
            p {
                display: inline-block;
            }
        }
        .active::after {
            background: transparent;
        }
    }
}