#playlists {
    display: block;
    width: calc((100% - 400px) / 2);
    div {
        direction: rtl;
        max-height: 400px;
        padding-left: .5em;
        div {
            direction: ltr;
            cursor: pointer;
            margin: 0 0 2vh;
            img {
                width: 4em;
            }
        }
    }
}
