@import 'sass/modules/_mixins.scss';
@import 'sass/modules/_variables.scss';

.top {
  main {
    padding-top: 20px;
  }
  h3 {
    font-weight: 400;
    font-size: 1.2em;
    line-height: 1.5em;
  }
  .slick-slider {
    .slick-slide {
      padding: 5px 10px 20px;
      width: 25vw;
      text-align: center;
      img {
        width: 100%;
        height: auto;
        border-radius: 5px;
      }
    }
    .btn {
      background: transparent;
      border: none;
      position: absolute;
      right: 0.5em;
      top: -2.5em;
      font-size: 15px;
      cursor: pointer;
      &.prev {
        right: 2em;
      }
      &:focus {
        outline: none;
      }
    }
  }
  .top-albums {
    max-width: 100%;
    div {
      padding-bottom: 15px;
    }
    figcaption {
      padding: 5px 0;
      text-align: left;
      p {
        font-weight: 400;
        line-height: 1.2em;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-size: 0.9em;
      }
      .album-artist {
        display: flex;
        align-items: center;
        p {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          font-weight: 300;
          font-size: 0.9em;
          color: #ccc;
        }
      }
    }
  }
  footer {
    display: none;
  }
  @media (min-width: 768px) {
    @import 'sass/partials/desktop/_main.scss';
    h3 {
      font-size: 1.5em;
      line-height: 3em;
    }
    ul {
      li {
        margin: 15px 5px;
        width: 12vw;
      }
    }
    footer {
      display: block;
    }
  }
}
