.Footer {
  &.ant-layout-footer {
    padding: 15px 15px 100px;
    @media (min-width: 768px) {
      padding: 15px 25px 100px;
    }
    @media (min-width: 992px) {
      padding: 40px 50px 100px;
    }
  }
  .deezer {
    text-align: right;
    padding: 0 20px;
  }
  .deezerLogo {
    height: 1em;
    width: auto;
  }
}
