@import "sass/modules/_mixins.scss";

footer {
    font-size: .7em;
    padding: 0 1vw;
    position: absolute;
    bottom: 0.3em;
    right: 0.5em;
    z-index: 0;
    img {
        height: .7em;
        width: auto;
        vertical-align: middle;
    }
    @media (min-width: 870px) {
        display: block;
        cursor: default;
        font-size: .8em;
        p {
            visibility: visible;
        }
        img {
            height: .8em;
        }
    }
}

