@import 'sass/modules/_mixins.scss';

footer {
  font-size: 0.7em;
  position: absolute;
  bottom: 0.3em;
  right: 1em;
  img {
    height: 0.7em;
    width: auto;
    vertical-align: middle;
  }
  @media (min-width: 768px) {
    display: block;
    cursor: default;
    font-size: 0.8em;
    img {
      height: 0.8em;
    }
  }
}
