@import '~antd/dist/antd.dark.less'; // Introduce the official dark less style entry file

.Search {
  .menu {
    border-bottom: none;
  }
  .results {
    text-align: left;
    padding-bottom: 100px;
  }
  .ant-menu-item {
    text-transform: capitalize;
  }
}