.search {
    width: 100%;
    height: 77%;
    width: 100vw;
    margin-top: 0;
    input {
        height: 6vh;
        width: 100vw;
        padding: 1.1em;
        border: 0;
        font-size: .9em;
        outline: none;
        background: rgba(45, 45, 45, 0.35);
        box-shadow: 0 4px 4px rgba(0,0,0,.5);
        &::-webkit-input-placeholder {
            /* WebKit, Blink, Edge */
            font-size: 1.2em;
            color: lightgray;
        }
        &:-moz-placeholder {
            /* Mozilla Firefox 4 to 18 */
            font-size: 1.2em;
            color: lightgray;
        }
        &::-moz-placeholder {
            /* Mozilla Firefox 4 to 18 */
            font-size: 1.2em;
            color: lightgray;
        }
        &:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            font-size: 1.2em;
            color: lightgray;
        }
    }
    .results {
        overflow-y: auto;
        height: calc(100% - 6vh);
    }
    .result {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: .9em;
        padding: 0 1em;
        width: 100%;
        height: 12vh;
        cursor: pointer;
        span {
            display: block;
            font-weight: 500;
            font-size: 1.2em;
        }
        img {
            margin-left: 4vw;
            min-width: 50px;
        }
    }
    @media (min-width: 870px) {
        display: block;
        height: 12vh;
        max-width: 30vw;
        margin-top: 1em;
        z-index: 2;
        input {
            width: 30vw;
            font-size: .8em;
            border-radius: 1em;
            height: 2.5vh;
        }
        .results {
            height: 40vh;
            background: rgba(25,25,25,0.95);
            .result {
                height: 11vh;
            }
            img {
                margin-left: 1.5vw;
            }
        }
    }
}

