@mixin flex($justify) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $justify;
    align-items: center;
}
@mixin border-bottom-animation($id) {
    a#{$id} {
        border-bottom: 3px solid white;
    }
    a:not(#{$id}):not(.carousel__arrow) {
        &::after {
            content: '';
            display: block;
            height: 3px;
            width: 0;
            background: transparent;
            transition: width .7s ease, background-color 1s ease;
        }
        &:hover::after {
            width: 100%;
            background: white;
        }
    }
}
@mixin mobileComponent() {
    #cover,
    #title,
    .nav,
    .time {
        display: none;
    }
    .playerAndProgress {
        position: relative;
        progress[value] {
            width: 100%;
        }
    }
    .choose {
        background: rgba(0,0,0,0.5);
    }
    footer {
        position: static;
        background: rgba(0,0,0,0.5);
    }
    .small {
        display: flex;
    }
}
@mixin btn-border-drawing($color: #ccc, $hover: black, $width: 2px, $vertical: top, $horizontal: left, $duration: 0.25s) {
    box-shadow: inset 0 0 0 $width $color;
    color: $color;
    transition: color $duration $duration/3;
    position: relative;
    &::after,
    &::before {
        border: 0 solid transparent;
        box-sizing: border-box;
        content: '';
        pointer-events: none;
        position: absolute;
        width: 0;
        height: 0;
        #{$vertical}: 0;
        #{$horizontal}: 0;
    }
    &::before {
        $h-side: if($horizontal == 'left', 'right', 'left');
        border-#{$vertical}-width: $width;
        border-#{$h-side}-width: $width;
    }
    &::after {
        $v-side: if($vertical == 'top', 'bottom', 'top');
        border-#{$v-side}-width: $width;
        border-#{$horizontal}-width: $width;
    }
    &:hover {
        color: $hover;
        &::after,
        &::before {
            border-color: $hover;
            transition: border-color 0s, width $duration, height $duration;
            width: 100%;
            height: 100%;
        }
        &::before {
            transition-delay: 0s, 0s, $duration;
        }
        &::after {
            transition-delay: 0s, $duration, 0s;
        }
    }
}
