.Player {
  border-top: 1px solid #33363b;
  background: rgba(3,3,15,0.8);
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 15px 15px;
  @media (min-width: 768px) {
    padding: 15px 25px;
  }
  @media (min-width: 992px) {
    padding: 15px 50px;
  }
  .align-start {
    display: flex;
    justify-content: flex-start;
  }
  .button {
    color: white;
    &:disabled {
      color: grey;
    }
  }
}