@media (min-width: 870px) {
    nav {
        text-transform: uppercase;
        position: absolute;
        top: 2.5vh;
        left: .5vw;
        z-index: 1;
        a {
            margin: .6vh 1.5vw;
            display: inline-block;
        }
    }
    .nav {
        display: block;
        img {
            width: 50px;
            height: auto;
            vertical-align: middle;
        }
        .active {
            font-weight: 500;
        }
    }
}
