body {
  position: relative;
  max-width: 100%;
  max-height: 100vh;
  height: 100vh;
  font-family: 'Lato', sans-serif;
  color: white;
  background: $navy-color;
  text-shadow: 0px 4px 4px rgba(0,0,0,.5);
}

.NavyPlayer {
  height: 100%;
  width: 100%;
  background: $navy-color;
  section#login {
    display: none;
  }
  a {
    color: white;
    text-decoration: none;
  }
  ul {
    list-style: none;
  }
}

#search, #title, footer, .choose, #albums {
  width: 100%;
}
