@media (min-width: 870px) {
    @import	"desktop/_scroll.scss";
    .NavyPlayer {
        .background {
            width: 80vw;
            filter: blur(0);
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-image: linear-gradient(to right,rgba(0,0,0,0) 5%, $navy-color 92%);
            }
        }
    }
}
